.financial-container {
    padding: 50px;
    background-color: #f7f9fb;
  }
  
  .financial-greeting {
    font-size: 24px;
    font-weight: bold;
  }
  
  .financial-subtext {
    color: #666;
    margin-bottom: 16px;
  }
  
  .summary-row {
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
  }
  
  .summary-card {
    flex: 1;
    padding: 10px;
    border-radius: 10px;
    color: white;
    text-align: center;
  }

  .summary-card .value { 
    font-size: 36px

  }
  .summary-card .label {
    text-align: start;
  }
  
  .income-card {
    background-color: #0061ff;
  }
  
  .outcome-card {
    background-color: #f47c2c;
  }
  
  .label {
    font-weight: bold;
    font-size: large;
    margin-bottom: 4px;
  }
  
  .value {
    font-size: 20px;
    font-weight: bold;
    
  }

  .balance-chart-wraper {
    display: flex;
    gap: 20px;
    margin-top: 30px;
    align-items: center;
  }

  
  .balance-card-financial {
    background-color: white;
    padding: 15px 10px;
    border-radius: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
  
  .balance-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
    color: #333;
  }
  
  .balance-value {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .balance-value.positive {
    color: green;
  }
  
  .balance-value.negative {
    color: #cc0000;
  }
  
  .chart-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 38px;
    flex: 2;
    height: 100%;
  }
  .toggle-row {
    display: flex;
    justify-content: center; /* Pastikan tombol berada di tengah chart */
    gap: 16px;
    margin-top: 12px;
  }
  
  .toggle-btn {
    padding: 8px 20px;
    border-radius: 20px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .toggle-btn:hover {
    background-color: #dcdcdc;
  }
  
  .toggle-btn.active {
    background-color: #0061ff;
    color: white;
    border-color: #0061ff;
  }

  /* overwriting victory css */
  .VictoryContainer {
    min-height: 300px !important;
  }
  
  